
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136, 193, 219);
  border-radius: 10px;
}
body {
    overflow: y-axis hidden; /* Hide scrollbars */
    background: radial-gradient( #8DD4EF 56%, #fff 100%);
}

a:link{
    text-decoration: none;
    text-decoration-color: aliceblue;
    color: black;
}
.header{
    
    background-color: aliceblue;
}
#signin {
    position: relative;
    left: 100px;
}
.navbar{
    text-decoration: none;
    font-size: larger;
    color: black;
    padding: 15px;
}
.nav-link{
    padding: 10px;
    text-decoration: none;
    
}
.caro{
    position: relative;
    width: 850px;
    height: 750px;
    left: 350px;
    top: 0px;
}
.person{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid black;  
    height: 75px;
    width: 650px;
    position: relative;
    left: 450px;
    top: -410px;
    border-radius: 35px 10px 35px 10px;
    -webkit-box-shadow: 2px 25px 57px 18px rgba(0,0,0,0.44);
-moz-box-shadow: 2px 25px 57px 18px rgba(0,0,0,0.44);
box-shadow: 2px 25px 57px 18px rgba(0,0,0,0.44);
margin-bottom: 125px;
    
}
.ip1{
    height: 55px;
    width: 75px;
    border-radius: 50%;
    margin: 15px;
    -webkit-box-shadow: 2px 25px 57px 18px rgba(0,0,0,0.44);
    -moz-box-shadow: 2px 25px 57px 18px rgba(222, 143, 143, 0.44);
    box-shadow: 2px 25px 57px 18px rgba(97, 155, 230, 0.44);
}
.midcontent{
    position: relative;
    left: 350px;
    width: 650px;
    height: 550px;
    top: -220px;
    border-radius: 35px 10px 35px 10px;
  
}
.midH3{
position: relative;
font-size: 30px;
bottom: 220px;
right: -240px;
font-weight: 500;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.midB{
border: 1px solid  rgb(220, 196, 244);
position: relative;
left: 220px;
width: 215px;
bottom: 120px;
border-radius: 25px 50px 50px 20px;
background-color: rgb(220, 196, 244);
font-style: italic;
font: 2em sans-serif;
font-weight: 600;
}
.midP{
    position: relative;
    width: 605px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-display: inline;
    font-stretch: extra-condensed;
    left: 200px;
}
.cardCareer {
    display: flex;
    flex: 1 1 160px;
    position: relative;
    gap: 12px;
    left: 330px;
    bottom: 350px;
}
.card{
    margin: 10px;
    gap: 15px;
    width: 75px;
    height: 150px;
    border-radius: 2px 5px;
    
    -webkit-box-shadow: 2px 25px 57px 18px rgba(0,0,0,0.44);
    -moz-box-shadow: 2px 25px 57px 18px rgba(222, 143, 143, 0.44);
    box-shadow: 2px 25px 57px 18px rgba(97, 155, 230, 0.44);

}
















